# Distribution / packaging
.Python
env/
venv/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Serverless directories
.serverless

.DS_Store
.idea
api/__pycache__
db/__pycache__

#config
config.json

# Node
node_modules/
package-lock.json

#Local files
local_test.py